<!DOCTYPE html>
<html>
        <head>
                <title>anime list</title>
        </head>
        <body style="background-color:slategrey">
                <h1 style="text-align: center; color: rgb(43, 43, 43);" >anime list:</h1> <br> <hr>
                <table border="1">
                        {% for x in list %}
                        <tr>
                                <td>{{ x.id }}</td>
                                <td>{{ x.name }}</td>
                                <td>{{ x.description }}</td>
                                <td>{{ x.episodes }}</td>
                                <td><a href="delete/{{ x.id }}">delete</a></td>
                        </tr>
                        {% endfor %}
                </table>
                <a href="add/">add anime</a>
        </body>
</html>